<!doctype html>
<html lang="en">
  {{template "header.tmpl.html"}}
<body>
<!--  {{template "nav.tmpl.html"}} -->

<div class="container">
  <header class="blog-header py-3">Cheng Yi software engineer and hopeless lover</header>
</div>
<main role="main" class="container">
<div class="row">
  <div class="col-md-8 blog-main">
    <h3 class="pb-4 mb-4 font-italic border-bottom">Beta blog version 0.2</h3>
    <div class="blog-post">
      <h2 class="blog-post-title">Hello World</h2>
      <p class="blog-post-meta">August 6, 2019 by <a href="#">Chengyil</a></p>
      <p>
      Hello world. This is the first of many article that I would I would be journaling about life, engineering and other adventures.
      </p>
      <p>
      There still much to be done in this humble little blog app that I'm growing, and I'm excited to see how it might turn out to be.
      </p>
      <p>
      Just want to say thanks to this special lady that I met up again in the beginning of this year. Although we didn't end up together, but she made a strong and positive impact on my life. I hope she would continue to be strong and caring as well. 
      </p>
      <p>
      And also to Mich, thank you for listening to me bitching and complaining! I know this site is really plain and boring now. But stay tune! Let me know if there something you want to see as well.
      </p>
    </div>
    <div class="blog-post">
      <h2 class="blog-post-title"></h2>
      <p class="blog-post-meta">August 7, 2019 by <a href="#">Chengyil</a></p>
      <p>
      </p>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
